@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
:root {
  font-family: "Lexend", Inter !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.orange {
  background: #24133f;
}
.circle {
  box-shadow: 0px 0px 1px 1px #0000001a;
}
.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(34, 5, 105, 0.486);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(10, 2, 78, 0.295);
  }
}
